{#
#  @license 3-clause BSD https://github.com/SlightScribe/SlightScribe-Core/blob/master/LICENSE.md
#  @link https://github.com/SlightScribe/SlightScribe-Core
#}


{%  extends 'SlightScribeBundle::base.html.twig' %}

{% block main %}

    <ol class="breadcrumb">
        <li><a href="{{ path('slight_scribe_admin_homepage') }}">Admin</a></li>
        <li class="active">Block Email: {{  blockEmail.email }} at {{ blockEmail.startedAt | date('c') }}</li>
    </ol>

    <h2>Block Email {{  blockEmail.email }} at {{ blockEmail.startedAt | date('c') }}</h2>


    <p>Email</p>
    <p>{{ blockEmail.email }}</p>

    <p>Email (Cleaned)</p>
    <p>{{ blockEmail.emailClean }}</p>

    <p>Started</p>
    <p>{{  blockEmail.startedAt | date('c')  }}</p>

    <p>Finished</p>
    <p>{%  if blockEmail.finishedAt  %}{{ blockEmail.finishedAt | date('c')  }}{%  else %}n/a{%  endif %}</p>

    {% if runs %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Run</th>
                <th>Created At</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for run in runs %}
                <tr>
                    <td>{{ run.publicId }}</td>
                    <td>{{ run.createdAt | date('c') }}</td>
                    <td class="action-link">
                        <a href="{{  path('slight_scribe_admin_project_version_run_show',{'projectId':run.project.publicId,'versionId':run.projectVersion.publicId,'runId':run.publicId}) }}" class="btn btn-default">
                            View
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No runs</p>
    {% endif %}

{% endblock %}
