{#
#  @license 3-clause BSD https://github.com/SlightScribe/SlightScribe-Core/blob/master/LICENSE.md
#  @link https://github.com/SlightScribe/SlightScribe-Core
#}


{%  extends 'SlightScribeBundle::base.html.twig' %}

{% block main %}

    <ol class="breadcrumb">
        <li><a href="{{ path('slight_scribe_admin_homepage') }}">Admin</a></li>
        <li><a href="{{ path('slight_scribe_admin_project_show',{ 'projectId':project.publicId }) }}">Project: {{  project.titleAdmin }}</a></li>
        <li><a href="{{ path('slight_scribe_admin_project_version_show',{ 'projectId':project.publicId,'versionId':version.publicId }) }}">Version: {{  version.titleAdmin }}</a></li>
        <li><a href="{{ path('slight_scribe_admin_project_version_file_show',{'projectId':project.publicId,'versionId':version.publicId,'fileId':file.publicId}) }}">File: {{  file.titleAdmin }}</a></li>
        <li class="active">Preview</li>
    </ol>

    <h2>Project {{  project.titleAdmin }} Version {{  version.titleAdmin }} File {{  file.titleAdmin }} Preview</h2>


    <h3>Template</h3>

    <div class="templateContents">
        {{ file.letterContentTemplate | nl2br  }}
    </div>

    <h3>Dummy data</h3>

    <form method="post">
        <ul>
            {%  for field in fields %}{% set name = 'field_' ~ field.publicId %}
                <li>
                    {{  field.titleAdmin }} ({{ field.publicId }}):
                    {% if field.isTypeText %}
                        <input type="text" name="{{ name }}" value="{{ app.request.request.get(name) }}">
                    {%  elseif field.isTypeTextArea %}
                        <textarea name="{{ name }}" >{{ app.request.request.get(name) }}</textarea>
                    {%  endif %}
                </li>
            {%  endfor %}
        </ul>
        <input type="submit" value="See Preview" class="btn btn-default">
    </form>

    <h3>Preview</h3>

    <div class="templatePreview">
        {{ filePreviewContents | nl2br }}
    </div>

{% endblock %}
