{#
#  @license 3-clause BSD https://github.com/SlightScribe/SlightScribe-Core/blob/master/LICENSE.md
#  @link https://github.com/SlightScribe/SlightScribe-Core
#}


{%  extends 'SlightScribeBundle::base.html.twig' %}

{% block main %}

    <ol class="breadcrumb">
        <li><a href="{{ path('slight_scribe_admin_homepage') }}">Admin</a></li>
        <li class="active">Project: {{ project.titleAdmin}}</li>
    </ol>

    <h2>Project {{  project.titleAdmin }}</h2>

    <ul class="list-group">
        <li class="list-group-item"><a href="{{  path('slight_scribe_admin_project_versions_list',{'projectId':project.publicId}) }}" class="btn btn-default">Versions</a></li>
        {% if publishedProjectVersion %}
            <li class="list-group-item">
                <a href="{{ path('slight_scribe_admin_project_version_show',{'projectId':project.publicId ,'versionId':publishedProjectVersion.publicId }) }}" class="btn btn-default">View Published Version</a>
                This is version: {{  publishedProjectVersion.titleAdmin }}
            </li>
        {% endif %}
        {% if latestProjectVersion %}
            <li class="list-group-item">
                <a href="{{ path('slight_scribe_admin_project_version_show',{'projectId':project.publicId ,'versionId':latestProjectVersion.publicId }) }}" class="btn btn-default">View Latest Version</a>
                This is version: {{  latestProjectVersion.titleAdmin }}
            </li>
        {% endif %}
        <li class="list-group-item"><a href="{{  path('slight_scribe_admin_project_versions_published_list',{'projectId':project.publicId}) }}" class="btn btn-default">Versions Published</a></li>
        <li class="list-group-item"><a href="{{  path('slight_scribe_admin_project_fields_list',{'projectId':project.publicId}) }}" class="btn btn-default">Fields</a></li>
        <li class="list-group-item"><a href="{{  path('slight_scribe_admin_project_new_field_text',{'projectId':project.publicId}) }}" class="btn btn-warning">New Field (Text)</a></li>
        <li class="list-group-item"><a href="{{  path('slight_scribe_admin_project_new_field_textarea',{'projectId':project.publicId}) }}" class="btn btn-warning">New Field (TextArea)</a></li>
        <li class="list-group-item"><a href="{{  path('slight_scribe_admin_project_new_field_date',{'projectId':project.publicId}) }}" class="btn btn-warning">New Field (Date)</a></li>
    </ul>

{% endblock %}
